body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  overflow: hidden;
  background-color: #333;
}

.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar a.active {
  background-color: #4CAF50;
  color: white;
}

.nav-bar-right {
  float: right;
}
.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.home {
    text-align: center;
    padding: 20px;
}
img {
  width: 300px;
  padding:1px;
  border:1px solid #021a40;
}
h1 {
  width: 300px;
  padding:1px;
  border:1px solid #021a40;
  

}